body{
 background: linear-gradient(white, 	#fff0f5);
 background-repeat: no-repeat;
 background-attachment: fixed;

}

h1{
    color: black;
    border: solid;
    
}



div{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    
    width: 50%;
    margin: auto;
    
}

.map{
border: none;

}


ul {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    
  }
  
  li {
    
    float: left;
  }
  
  li a {
    
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  
  li a:hover {
    background-color:lightblue;
  
}


.bck{ 
      border: none; 
      position: relative;
      text-align: left;
      
}
